@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: clamp(0.9375rem, 2.7vw, 1rem);
  color: #ffff;
  background: -webkit-gradient(linear, left top, right top, from(#598349), to(#838149));
  background: linear-gradient(90deg, #598349 0%, #838149 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  color: #ffff;
  line-height: 1.5;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto !important;
  color: #ffff;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.header {
  width: 100%;
  position: relative;
  z-index: 10;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 2rem 0 2rem;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.nav-logo a {
  color: white;
}

.nav-menu {
  padding: 0;
  margin: 0 0 0 0;
}

@media screen and (max-width: 820px) {
  .nav-menu {
    display: -ms-grid;
    display: grid;
    place-content: center;
    position: fixed;
    top: -120%;
    left: 0;
    right: 0;
    border-radius: 1rem;
    padding: 2rem 3rem;
    margin: 2.5rem auto 2.5rem auto;
    background: linear-gradient(145deg, #4e7240 0%, #727140 100%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.nav-menu-show {
  top: -1.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-logo, .nav-link, .nav-item {
  margin: 0.5rem 0 0.5rem 0;
  list-style: none;
  color: #ffff;
  position: relative;
}

.nav-item {
  padding: 0 1.8rem;
}

.nav-item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 3px solid white;
  bottom: -0.3rem;
  -webkit-animation: border-animation 0.5s linear;
          animation: border-animation 0.5s linear;
}

@-webkit-keyframes border-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.nav-item:nth-of-type(5):hover::after {
  border: none;
}

.nav-link-active::after {
  content: ".";
  width: 100%;
  font-size: 2.5rem;
  position: absolute;
  bottom: -1.5rem;
  color: var(--title-color);
  left: 0;
}

.nav-changeBackground {
  margin: 0 auto 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  border-radius: 1rem;
  background: linear-gradient(145deg, #4e7240 0%, #727140 100%);
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.home {
  margin: 2rem 0 6rem 0;
  text-align: left;
}

.home-container {
  --grid-cols:2;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-cols), 1fr);
}

@media screen and (max-width: 768px) {
  .home-container {
    --grid-cols:1;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  .home-container .home-data {
    text-align: center;
    position: relative;
  }
  .home-container .home-description {
    width: 100%;
  }
  .home-container .home-data:nth-of-type(1) .home-title {
    position: absolute;
    right: 0.5rem;
    top: -1rem;
  }
  .home-container .home-data:nth-of-type(1) .home-subtitle {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
  }
  .home-container .home-buttons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.home-data:nth-of-type(1) {
  position: relative;
}

.home-data:nth-of-type(1) .home-title {
  font-size: clamp(0.9375rem, 2.7vw, 1rem);
  line-height: normal;
}

.home-title {
  font-size: clamp(2rem, 4.7vw, 7rem);
  font-weight: 900;
  line-height: 3.8rem;
  margin: 1rem 0 1rem 0;
}

.home-subtitle {
  color: #cecbca;
  margin: 0 0 0 0;
}

.home-description {
  color: #cecbca;
  margin: 0 0 0 0;
}

.home-buttons {
  margin: 3rem 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-buttons .bx-right-arrow-alt {
  position: relative;
  top: 0.1rem;
}

.button {
  border-radius: 1rem;
  background: #f4420b;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  background: #ff6333;
}

.button-nav {
  background: #f4420b;
  background-color: transparent;
  border-radius: 3rem;
  border: 2px solid white;
  font-weight: 600;
  color: inherit;
}

.button-nav:hover {
  -webkit-box-shadow: inset 5.8rem 0.2rem #ff6333;
          box-shadow: inset 5.8rem 0.2rem #ff6333;
  background: none;
}

.button-nav-add, .button-nav-remove {
  color: var(--main-color-light);
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 820px) {
  .button-nav-add, .button-nav-remove {
    display: inline;
  }
}

.button-nav-remove {
  display: none;
  position: relative;
  z-index: 6;
  right: 0rem;
  top: 1rem;
  font-size: clamp(2rem, 4.7vw, 7rem);
}

.button-scrollUp {
  background: transparent;
  font-size: 1.5rem;
  border-radius: 3rem;
  border: 2px solid #ffff;
  padding: 0.1rem 0.25rem;
  position: fixed;
  display: none;
  right: 1rem;
  bottom: 1rem;
  z-index: 2;
  color: inherit;
  cursor: pointer;
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.about {
  margin: 0 0 6rem 0;
  text-align: left;
}

.about-container {
  --grid-cols:2;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-cols), 1fr);
}

@media screen and (max-width: 768px) {
  .about-container {
    --grid-cols:1;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  .about-container .about-data {
    text-align: center;
  }
  .about-container .about-data:nth-of-type(2) {
    margin: 3rem 0 0 0;
  }
  .about-container .about-data-description {
    width: 100%;
  }
}

.about-data-description {
  margin: 0 0 3rem 0;
  color: #cecbca;
  width: 40ch;
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.new {
  margin: 0 0 6rem 0;
  text-align: center;
}

.new-data {
  background: linear-gradient(145deg, #4e7240 0%, #727140 100%);
  border-radius: 2rem;
  padding: 1.5rem 0;
  margin: 0 0 2rem 0;
}

.new-data img {
  width: 100px;
  margin: 0 auto 0 auto;
}

.new-data::before {
  content: "New";
  background: #f4420b;
  padding: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1.2rem;
}

.new-data-cart {
  background: #f4420b;
  font-size: 1.3rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem 0.2rem 1.5rem 0.2rem;
  position: absolute;
  right: -3rem;
  bottom: 2rem;
  -webkit-transition: 0.5s right;
  transition: 0.5s right;
}

.new-data:hover .new-data-cart {
  right: 0;
}

.new-data:hover img {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.new-data-title {
  font-size: clamp(1.125rem, 3vw, 1.25rem);
}

.new-data-price {
  color: #f4420b;
}

.new-data-subtitle {
  color: #cecbca;
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.newsletter {
  margin: 6rem 0 6rem 0;
  text-align: center;
}

.newsletter-data {
  margin: 0 auto 0 auto;
}

.newsletter-data-description {
  margin: 0 0 3rem 0;
  color: #cecbca;
}

.newsletter-data-form {
  background: linear-gradient(145deg, #4e7240 0%, #727140 100%);
  border-radius: 2rem;
  padding: 2rem 0.8rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.newsletter-data-form input {
  width: 45%;
  background: none;
  border: none;
}

.newsletter-data-form input::-webkit-input-placeholder {
  color: #cecbca;
}

.newsletter-data-form input:-ms-input-placeholder {
  color: #cecbca;
}

.newsletter-data-form input::-ms-input-placeholder {
  color: #cecbca;
}

.newsletter-data-form input::placeholder {
  color: #cecbca;
}

.button {
  border-radius: 1rem;
  background: #f4420b;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  background: #ff6333;
}

.button-nav {
  background: #f4420b;
  background-color: transparent;
  border-radius: 3rem;
  border: 2px solid white;
  font-weight: 600;
  color: inherit;
}

.button-nav:hover {
  -webkit-box-shadow: inset 5.8rem 0.2rem #ff6333;
          box-shadow: inset 5.8rem 0.2rem #ff6333;
  background: none;
}

.button-nav-add, .button-nav-remove {
  color: var(--main-color-light);
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 820px) {
  .button-nav-add, .button-nav-remove {
    display: inline;
  }
}

.button-nav-remove {
  display: none;
  position: relative;
  z-index: 6;
  right: 0rem;
  top: 1rem;
  font-size: clamp(2rem, 4.7vw, 7rem);
}

.button-scrollUp {
  background: transparent;
  font-size: 1.5rem;
  border-radius: 3rem;
  border: 2px solid #ffff;
  padding: 0.1rem 0.25rem;
  position: fixed;
  display: none;
  right: 1rem;
  bottom: 1rem;
  z-index: 2;
  color: inherit;
  cursor: pointer;
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.discount {
  margin: 0 0 6rem 0;
  text-align: center;
}

.discount-container {
  background: linear-gradient(145deg, #4e7240 0%, #727140 100%);
  padding: 1.5rem 4rem;
  border-radius: 2rem;
  --grid-cols:2;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-cols), 1fr);
}

@media screen and (max-width: 768px) {
  .discount-container {
    --grid-cols:1;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  .discount-container .discount-data:nth-of-type(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 1.5rem 0 0 0;
  }
}

.discount-data {
  margin: 0 auto 0 auto;
}

.discount-data-title {
  font-size: clamp(1.125rem, 3vw, 1.25rem);
  margin: 0 0 2rem 0;
}

.discount a {
  color: white;
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.category {
  margin: 0 0 6rem 0;
  text-align: center;
}

.category-container {
  --grid-cols:3;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-cols), 1fr);
}

@media screen and (max-width: 768px) {
  .category-container {
    margin: 0 0 2rem 0;
    --grid-cols:2;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
}

@media screen and (max-width: 425px) {
  .category-container {
    --grid-cols:1;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
}

.category-data {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-data:hover img {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.category-data-description {
  color: #cecbca;
  margin: 0 auto 0 auto;
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.trick {
  margin: 0 0 6rem 0;
  text-align: center;
}

.trick-container {
  --grid-cols:3;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-cols), 1fr);
}

@media screen and (max-width: 768px) {
  .trick-container {
    --grid-cols:2;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
}

@media screen and (max-width: 425px) {
  .trick-container {
    --grid-cols:1;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
}

.trick-data {
  position: relative;
  overflow: hidden;
  background: linear-gradient(145deg, #4e7240 0%, #727140 100%);
  border-radius: 2rem;
  padding: 1rem 0;
  margin: 0 0 2rem 0;
}

.trick-data-title {
  font-size: clamp(1.125rem, 3vw, 1.25rem);
}

.trick-data-subtitle {
  color: #cecbca;
}

.trick-data img {
  width: 100px;
  margin: 0 auto 0 auto;
}

.trick-data-cart {
  background: #f4420b;
  font-size: 1.3rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem 0.2rem 1.5rem 0.2rem;
  position: absolute;
  right: -3rem;
  bottom: 0rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.trick-data:hover .trick-data-cart {
  right: 0;
}

.trick-data:hover img {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.logo-skull {
  width: clamp(1.25rem, 3.5vw, 1.75rem);
  display: inline;
}

.logo-spider {
  position: fixed;
  top: 0.8rem;
  left: 0rem;
  z-index: 5;
  width: 28%;
  display: none;
}

.duo {
  margin-top: 3rem;
}

.home-container, .about-container, .new-container, .newsletter-container, .discount-container, .category-container, .trick-container, .footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: inline-block;
}

.section-title {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  margin: 0 0 2rem 0;
}

.footer {
  position: relative;
  margin: 6rem auto 0 auto;
  text-align: left;
}

.footer-container {
  --grid-cols:4;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-cols), 1fr);
}

@media screen and (max-width: 1350px) {
  .footer {
    text-align: center;
  }
  .footer-container {
    --grid-cols:2;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  .footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-img:nth-of-type(1) {
    right: 87%;
  }
  .footer .footer-img:nth-of-type(2) {
    right: -0.5%;
  }
  .footer .footer-data {
    margin: 0 auto 2rem auto;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    --grid-cols:1;
    -ms-grid-columns: (1fr)[var];
        grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  .footer .footer-img:nth-of-type(1) {
    right: 72%;
  }
  .footer .footer-img:nth-of-type(2) {
    right: 0;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    text-align: left;
  }
  .footer .footer-img:nth-of-type(1) {
    right: 0;
  }
  .footer .footer-logo {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer .footer-data {
    margin: 0 0 2rem 0;
  }
}

.footer-data:nth-of-type(1) p {
  width: 20ch;
  color: #cecbca;
}

.footer-logo {
  font-size: clamp(0.9375rem, 2.7vw, 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.footer-data {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 auto 0 auto;
}

.footer-data ul {
  padding: 0;
}

.footer-data-links {
  margin: 0.7rem 0 0.7rem 0;
  list-style: none;
}

.footer-data-links a {
  color: #cecbca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.footer-data-links a:hover {
  color: #ff6333;
}

.footer-data-socials {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0;
}

.footer-data-socials:hover {
  color: #ff6333;
}

.footer-img {
  position: absolute;
  display: inline-block;
}

.footer-img:nth-of-type(1) {
  width: 170px;
  right: 88.5%;
  top: .8xrem;
}

.footer-img:nth-of-type(2) {
  width: 120px;
  right: 0%;
  bottom: -5rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #f4420b;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6333;
}

.swiper-slide:nth-of-type(3) .home-data:nth-of-type(2) {
  margin: 2.95rem 0 0 0;
}

.swiper-slide:nth-of-type(4) .home-data:nth-of-type(2) {
  margin: 0 0 1.5rem 0;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-pagination {
  position: initial;
  margin: 0.5rem 0 0 0;
}

.swiper-pagination-bullet {
  font-size: 3rem;
  opacity: 1;
  background: white;
}

.swiper-pagination-bullet:hover {
  background-color: #ff6333;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 1rem;
}

.swiper-pagination-bullet-active:hover {
  background-color: white;
}
/*# sourceMappingURL=index.css.map */